*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FF6600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-box{
    background-color: ghostwhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.input-box input{
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: #555;
}

.input-box img{
    width: 40px;
    cursor: pointer;
}